@media only screen and (max-width: 600px){
  .br{
    margin-left: 20px;
    
  }
}

body {
  font-family: "Comfortaa", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  text-align: left;
}


.header {
  /*width:1000px;*/
  margin: auto;
}
.navbar {
  padding: 10px 80px 10px 80px;
  

  
}
.socialMedia {
  font-size: 30px;
  text-decoration: none;
  margin-left: 5px;
}

.main {
  margin: auto;
}

.aside {
  padding: 25px;
  height: 600px;
}

.projects {
  padding: 25px;
}
.label {
  font-size: 15px;
  text-transform: uppercase;
  height: 20px;
}
.linkSocial {
  color: gold;
}

.link {
  color: rgb(144, 144, 144);
  text-transform: uppercase;
  font-size: 13px;
}

.link:hover,
.linkSocial:hover {
  color: black;
  text-shadow: 1px 1px 1px gray;
  
}

.tab-content,
.tab-pan {
  font-size: 13px;
  text-align: left;
  padding: 30px 25px;
}

.skills {
  list-style: none;
  padding: 0;
}

.input {
  font-size: 13px;
  width: 200px;
  border-radius: 0px;
  text-align: left;
}

.msg {
  height: 200px;
}

.input {
  -webkit-box-shadow: -2px -2px 0px 2px rgba(179, 179, 177, 1);
  -moz-box-shadow: -2px -2px 0px 2px rgba(179, 179, 177, 1);
  box-shadow: -2px -2px 0px 2px rgba(179, 179, 177, 1);
  border: none;
}

.input:focus {
  -webkit-box-shadow: 4px 4px 0px 4px rgba(179, 179, 177, 1);
  -moz-box-shadow: 4px 4px 0px 4px rgba(179, 179, 177, 1);
  box-shadow: 4px 4px 0px 4px rgba(179, 179, 177, 1);
}
.btn {
  color: white;
}
.btn:hover,
.btn:active {
  color: white;
}

.galery,
.itemBox {
  height: 200px;
}
.books {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-left: 20px;
}

footer,
.footer {
  height: 50px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
}
.galeryBooks {
  padding: 50px;
  height: 300px;
  background-color: aquamarine;
}
