@media only screen and (max-width: 600px) {
    .header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
    }
    .socialLink{
      text-align: center;
      margin: auto;
    }
    .brand {
      text-align: center;
      margin: auto;
    }
  }

  body{
    font-family: 'Carrois Gothic', sans-serif;
    background-color: #ffffff
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-decoration: none;
    font-weight: lighter;
    text-align: left;
    color:#10316b

  }
  .brand {
    color:#10316b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-right: auto;
    width: 250px;
    height: 30px;
  }
  .header {
    background-color: #edf9fc;
    padding: 20px 80px 0px 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .navbar {
    padding: 10px 80px 10px 80px;
  }

  .socialMedia {
    font-size: 30px;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .main {
    margin: auto;
    
  }
  
  .profile {
    padding: 25px;
    height: auto;
  }

  .title{
    font-family: 'Carrois Gothic', sans-serif;
   
 }
 .blogPost{
    font-family: inherit;
    font-size:12px;
    color:red
    
 }

  .blog {
    padding: 25px;
    height: 600px;
    
  }

  .posts{
    overflow:hidden;
    height: 600px;
  }
  
  .posts:hover{
    overflow:scroll;
    
  }
  
  .label {
    font-size: 15px;
    text-transform: uppercase;
    height: 20px;
  }
  .linkSocial {

    color:#26baee
    /*color:#f8b500*/
  }
  
  .link:hover,
  .linkSocial:hover {
    color: #73d2f3;
    /*text-shadow: 1px 1px 1px #00adb5;*/
    text-decoration: none
  }

  .link {
    color: rgb(144, 144, 144);
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .tab-content,
  .tab-pan {
    font-size: 13px;
    text-align: left;
    padding: 30px 25px;
  }
  
  .skills {
    list-style: none;
    padding: 0;
  }
  
  .input {
    font-size: 13px;
    width: 200px;
    border-radius: 0px;
    text-align: left;
    font-family: inherit
  }
  
  .msg {
    height: 200px;
  }
  
  .input {
    -webkit-box-shadow: -2px -2px 0px 2px rgba(179, 179, 177, 1);
    -moz-box-shadow: -2px -2px 0px 2px rgba(179, 179, 177, 1);
    box-shadow: -2px -2px 0px 2px rgba(179, 179, 177, 1);
    border: none;
  }
  
  .input:focus {
    -webkit-box-shadow: 4px 4px 0px 4px rgba(179, 179, 177, 1);
    -moz-box-shadow: 4px 4px 0px 4px rgba(179, 179, 177, 1);
    box-shadow: 4px 4px 0px 4px rgba(179, 179, 177, 1);
  }
  .btn {
    color: white;
  }
  .btn:hover,
  .btn:active {
    color: white;
  }
  
  .galery,
  .itemBox {
    height: 200px;
  }
  .books {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-left: 20px;
  }
  
  
  .footer {
   position:fixed;
   left:0;
   bottom:0;
   width: 100%;
   background-color: fffff;
   color: black;

   text-align:center;
  }

  
  .night-theme{
    background-color:#757882;
  
    color:white
  }
  
  .btn{
    background-color: #26baee;
    border:none;
  }
  .btn:hover{
    background-color:#73d2f3;
  }
  .btn:active{
    background-color: #73d2f3;
  }