<div class="header" :class="color">

  <h1 class="brand">Mauricio Júnior</h1>
  <form class="socialLink form-inline">

    <a href="https://www.facebook.com/Maur%C3%ADcio-Jr-1893729420678116/" target="_blank" class="socialMedia">
      <i class="fab linkSocial fa-facebook-square">
      </i>
    </a>
    <a href="https://www.linkedin.com/in/mauricio-pedro-2745b4136/" target="_blank" class="socialMedia">
      <i class="fab linkSocial fa-linkedin"></i>
    </a>
    <a href="https://medium.com/@mauriciojr.dev" target="_blank" class="socialMedia">
      <i class="fab linkSocial fa-medium"></i>

    </a>
    <a href="https://github.com/maudev1" target="_blank" class="socialMedia">
      <i class="fab linkSocial fa-github-square"></i>
    </a>

    <a href=" https://twitter.com/Maurici59374932?s=09" target="_blank" class="socialMedia">
      <i class="fab linkSocial fa-twitter-square" ></i>
    </a>

    
  </form>
</div> 